.features {
    border-bottom: 1px solid $secondary-color;
    padding: 0 0 25px 0;

    &__heading {
        color: $secondary-color;
        font-family: $secondary-font;
        font-size: 41px;
        font-weight: 400;
        line-height: 40px;
        text-align: center;
    }

    &__description {
        &-paragraph {
            color: $main-color-dark;
            font-family: $main-font;
            font-size: 20px;
            font-weight: 500;
            line-height: 22px;
            text-align: justify;
        }
    }
}

@media all and (min-width:$sm-min) {
    .features {
        align-items: center;
        background: $features-background;
        border: 1px solid $secondary-color;
        border-radius: 50px 0;
        display: flex;
        justify-content: center;
        padding: 30px;
        transition: box-shadow .3s ease-in-out;

        &__heading {
            flex: 1;
            font-family: $secondary-font;
            font-size: 58px;
            font-weight: 900;
            line-height: 60px;
            text-align: center;
        }

        &__description {
            flex: 2;
        }

        &:nth-of-type(2n+2) {
            border-radius: 0 50px;
            flex-direction: row-reverse;
        }

        &:hover {
            box-shadow: 0 0 50px $main-color-dark;
        }
    }
}