.introduction {
    display: flex;
    flex-direction: column;

    &__image {
        display: block;
        width: 100%;

        &-item {
            display: block;
            margin: 0 auto;
            width: 250px;
        }
    }

    &__description {

        &-paragraph {
            color: $main-color-dark;
            text-align: justify;
            font-family: $main-font;
            line-height: 28px;
            font-size: 20px;
            font-weight: 500;
        }

        &-button {
            @include button(50%, 35px auto, 30px, 30px);
        }
    }
}

@media all and (min-width:$md-min) {
    .introduction {
        flex-direction: row;

        &__image {
            width: 50%;
        }

        &__description {
            width: 50%;
        }
    }
}