.pros-cons {
    position: relative;

    &-section {
        display: flex;
        flex-direction: column;
    }

    &__background-container {
        filter: blur(15px);
        height: 320px;
    }

    &__heading {
        color: $main-color-dark;
        font-family: $secondary-font;
        font-size: 55px;
        font-weight: 500;
        line-height: 62px;
        margin: 0 0 25px 0;
    }

    &__description {
        left: 0;
        position: absolute;
        top: 40%;
        width: 100%;

        &-label {
            color: $main-color-dark;
            display: block;
            padding: 10px 0;
            text-align: center;
        }

        &-input {
            display: none;
        }

        &-group {
            align-items: baseline;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }

        &-counter {
            font-family: $secondary-font;
            font-size: 30px;
            font-weight: 900;
            line-height: 32px;
        }

        &-text {
            font-family: $main-font;
            font-size: 22px;
            font-weight: 500;
            line-height: 28px;
        }
    }
}

.pros {
    &__background-container {
        animation: rotate-background 5s linear infinite;
        background: url('../images/pros.png') center/contain no-repeat;
    }

}

.cons {
    &__background-container {
        animation: rotate-background-reverse 5s linear infinite;
        background: url('../images/cons.png') center/contain no-repeat;
    }
}

@media all and (min-width: $sm-min) {
    .pros-cons {
        &__background-container {
            margin: 0 auto;
            width: 330px;
        }

        &__description {
            &-group {
                justify-content: center;
            }

            &-counter {
                font-family: $secondary-font;
                font-size: 40px;
                font-weight: 900;
                line-height: 42px;
            }

            &-text {
                font-family: $main-font;
                font-size: 28px;
                font-weight: 500;
                line-height: 34px;
            }
        }
    }
}

@media all and (min-width: $md-min) {
    .pros-cons {
        align-items: center;
        display: flex;
        flex: 1 0 100%;
        flex-wrap: wrap;
        justify-content: space-between;

        &-section {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            position: relative;
        }

        &__heading {
            flex: 1 0 50%;
            margin: 0;
        }

        &__background-container {
            flex: 1 0 50%;
            filter: blur(5px);
            height: 150px;
            width: auto;
        }

        &__description {
            flex: 1 0 100%;
            margin: 50px 0;
            position: static;

            &-input:checked {
                +.pros-cons__description-group {
                    .pros-cons__description-counter {
                        border-radius: 25px 0 0 25px;
                        box-shadow: 0 0;
                    }

                    .pros-cons__description-text {
                        border-radius: 0 25px 25px 0;
                        opacity: 1;
                        width: 100%;
                    }
                }
            }

            &-group {
                align-items: center;
                justify-content: center;
            }

            &-counter {
                align-items: center;
                border-radius: 25px;
                box-shadow: 0 0 10px $main-color-light;
                color: $main-color-light;
                cursor: pointer;
                display: flex;
                height: 75px;
                justify-content: center;
                transition: all .5s ease-in-out;
                width: 75px;
            }

            &-text {
                align-items: center;
                border: 2px solid $secondary-color;
                border-radius: 25px;
                box-sizing: border-box;
                cursor: pointer;
                display: flex;
                justify-content: center;
                height: 75px;
                max-width: 70%;
                opacity: 0;
                overflow: hidden;
                transition: all .5s ease-in-out;
                white-space: nowrap;
                width: 0;
            }

            @include counter-color(pros-cons__description-counter, 1, 3);
            @include text-color(pros-cons__description-text, $numbers);
        }

        &:nth-of-type(2) {
            flex-direction: row-reverse;
        }
    }
}

@media all and (min-width: $lg-min) {
    .pros-cons {

        &__description {
            &-group {
                align-items: center;
                justify-content: space-evenly;
            }
        }
    }

    .pros {
        .pros-cons__description-label {
            @include alignment(pros-cons__description-group, 1, 4);
        }
    }

    .cons {
        .pros-cons__description-label {
            @include alignment-reverse(pros-cons__description-group, 1, 4);
        }
    }
}