.header {
    background: $background-header;
    box-shadow: 0 0 10px $main-color-dark;
    position: fixed;
    height: 75px;
    left: 0;
    right: 0;
    z-index: 10;

    &__container {
        align-items: center;
        display: flex;
        height: 100%;
        justify-content: center;
        margin: 0 15px;
    }

    &__logo {
        &-item {
            width: 50px;
            vertical-align: middle;
        }
    }
}

@media all and (min-width:$sm-min) {
    .header {
        &__logo {
            &-item {
                width: 65px;
            }
        }

    }
}