html,
body {
    margin: 0;
}

body {
    background: $main-background;
    overflow-x: hidden;
}

.block {
    margin-bottom: 50px;
    margin-top: 50px;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.footer-margin {
    margin: 0 15px;
}

@media all and (min-width: 768px) {
    .container {
        width: 720px;
    }
}

@media all and (min-width: 992px) {
    .container {
        width: 945px;
    }
}

@media all and (min-width: 1200px) {
    .container {
        width: 1150px;
    }
}