@mixin button($width, $margin, $font-size, $line-height) {
    background: $secondary-background;
    border: 2px solid $secondary-background;
    border-radius: 30px 0;
    color: $main-color-light;
    display: block;
    font-family: $secondary-font;
    font-size: $font-size;
    font-weight: 500;
    line-height: $line-height;
    margin: $margin;
    padding: 10px;
    transition: all .2s ease-in-out;
    text-align: center;
    text-decoration: none;
    width: $width;

    &:hover,
    &:focus {
        background: transparent;
        border-radius: 0 25px;
        color: $secondary-color;
        letter-spacing: 3px;
        text-decoration: none;
        width: 60%;
    }
}

@mixin counter-color($class, $start, $end) {
    @for $i from $start through $end {
        .#{$class}_#{$i} {
            @if $i==3 {
                background: rgba(204, 102, 153, 1/($i + 1));
            }

            @else {
                background: rgba(204, 102, 153, 1/$i);
            }
        }
    }
}

@mixin text-color($class, $numbers) {
    @each $i in $numbers {
        .#{$class}_#{$i} {
            border: 2px solid rgba(204, 102, 153, 1/$i);
        }
    }
}

@mixin alignment($class, $i, $end) {
    @while $i < $end {
        &:nth-of-type(#{$i}) {
            .#{$class} {
                justify-content: map-get($alignment, $i);
            }
        }

        $i: $i+1;
    }
}

@mixin alignment-reverse($class, $i, $end) {
    @while $i < $end {
        &:nth-of-type(#{$i}) {
            .#{$class} {
                justify-content: map-get($alignment-reverse, $i);
            }
        }

        $i: $i+1;
    }
}