// Breakpoints

$sm-min: 768px;
$md-min: 992px;
$lg-min: 1200px;

// Colors
$background-header:rgba(20, 20, 20, .7);
$background-footer:rgba(20, 20, 20, .7);
$features-background:rgba(204, 102, 153, .005);
$main-background:#333333;
$main-color-dark: #999999;
$main-color-light:#fafafa;
$secondary-background:#c69;
$secondary-color:#c69;
// Fonts

$main-font: "Lato",
Helvetica,
sans-serif;
$secondary-font: "Dynalight",
Helvetica,
sans-serif;