.footer {
    background: $background-footer;
    box-shadow: 0 0 10px get-font($main-color-dark);

    &__container {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        margin: 0 10px;
    }

    &__title {
        @extend .footer-margin;

        &-heading {
            color: get-font($main-color-dark);
            font-family: $secondary-font;
            font-weight: 500;
            font-size: 30px;
            line-height: 32px;
            margin: 0;
        }
    }

    &__credits {
        @extend .footer-margin;

        &-heading {
            color: get-font($main-color-dark);
            font-family: $secondary-font;
            font-weight: 500;
            font-size: 30px;
            line-height: 32px;
            margin: 0;
        }

        &-list {
            list-style: none;
            margin: 15px 0 0 0;
            padding: 0;
        }

        &-info {
            color: get-font($main-color-dark);
            font-family: $main-font;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            margin: 0;
        }

        &-link {
            color: $secondary-color;
            font-family: $main-font;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            text-decoration: none;
        }
    }
}

@media all and (min-width: $sm-min) {
    .footer {
        &__container {
            flex-direction: row;
            justify-content: space-between;
            margin: 0 40px;
        }
    }
}